*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
a{
    text-decoration: none;
}
.cabeça{
    text-align: center;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    width: 100%;
    margin: 0;
}
.lista{
    margin: auto;
}
.box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.pokedex-box{
    margin: 20px 20px auto;
    height: 500px;
    width: 450px;
    border: 3px solid rgb(116, 116, 116);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    color: rgb(207, 207, 207);
    -webkit-box-shadow: -11px 10px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 10px 5px -4px rgba(0,0,0,0.75);
    box-shadow: -11px 10px 5px -4px rgba(0,0,0,0.75);

}
.nome{
    position: relative;
    width: 100%;
    height: 2%;
    margin: 4% auto;
    font-size: 20px;
}
.imagen-pokemon{
    width: 100%;
    height: 40%;
    display: flex;
}
.imagen-pokemon > img{
   justify-content: center;
   height: 200px;
   width: 200px;
   margin-left: 100px;
}
.informações{
    border-radius: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.349);
    height: 50%; 

}
.especifico p{
    margin: 10px 0 auto;
    justify-content: left;
}
form{
    text-align: center;
}
